/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("../images/cover-image-dark.png");
  --button-border-hover: rgba(255, 0, 112, 0.4);
  --accent-color: #ff0070;
  --font-family: "IBM Plex mono", Regular, monospace;
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --text-title-color: #ff0070;
  --header-title-color: #db00ff;
  --header-title-shadow-color: #ff0070;
  --header-subtitle-color: #000028;
  --content-title-color: #000028;
  --content-text-color: #f1b2ce;
  --footer-title-color: #db00ff;
  --footer-shadow-color: #ff0070;
  --main-gap: 35px;
}
